[Unit]
Description=Apache Kafka Connect Server (broker)
Documentation=http://kafka.apache.org/documentation.html

[Service]
User={{ kafka_user }}
Group={{ kafka_user }}

Type=simple
ExecStart={{ kafka_install_host_symlink }}/bin/connect-distributed.sh {{ kafka_install_host_symlink }}/config/connect-distributed-modified.properties
ExecStop={{ kafka_install_host_symlink }}/bin/stop-kafka-connect-service.sh
[Install]
WantedBy=multi-user.target